* {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#container {
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 10%;
}

#conteudo {
    /* width: 100%;
    padding: 5%; */
}